<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
      <h2 class="footer-heading" style="margin-bottom: 5px;">Contact</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">Email</a></li>    
            {%- endif -%}
            <li><a href="https://github.com/yourusername">GitHub</a></li>
            <li><a href="https://x.com/yourusername">X</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>