---
---

$content-width: 65rem;

@import "minima";

.post-content {
    text-align: justify;
  
    // Headings within posts
    h2 {
      font-weight: 500;
      border-bottom: 1px solid #141415;
    }
  
    h3 {
      font-weight: 400;
    }

    .table-wrapper {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    mjx-container {
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
    }
}
  