---
---

@import "minima";

.post-content {
    text-align: justify;
  
    // Headings within posts
    h2 {
      font-weight: 500;
      border-bottom: 1px solid #141415;
    }
  
    h3 {
      font-weight: 400;
    }

    table td:first-child,
    table th:first-child,
    table td:last-child,
    table th:last-child {
        width: 50px;
    }

}
  